--------------------------------
| Hostname: {{ ansible_facts.hostname }}  |
| FQDN: {{ ansible_facts.fqdn }}   |
| IPv4: {{ ansible_facts.default_ipv4.address }} |
| kernel: {{ ansible_facts.kernel }} |
--------------------------------

